/* /* @font-face {
  font-family: 'BelyDisplay';
  src: url('fonts/BelyDisplay-Regular.ttf') format('truetype');
} */
/* .titulo-logo {
  font-family: 'BelyDisplay', serif;
}  */

.card img{
    width: 100%;
    height: 100%;
}

.card {
    border: 1px solid #ddd; 
    border-radius: 30px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}
  
 
.card-img-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: block;  
}


/* blog */
.blog-title {
  font-size: 2.5rem;
  font-weight: 600;
}
section.blog-posts {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
article.card {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
}
.card-img-top {
  max-height: 300px;
  object-fit: cover;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.card-text {
  color: #555;
}

article:hover { 
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}


/* administracion */

  .sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
  }
  .sidebar {
    display: block;
    padding: 1rem;
    color: #333;
    text-decoration: none;
  }
  .sidebar :hover {
    background-color: #e9ecef;
  }
  .content-section {
    display: none;
  }
  .content-section.active {
    display: block;
  }
  @media (max-width: 768px) {
    .sidebar {
      border-right: none;
      border-bottom: 1px solid #dee2e6;
    }
  }

  /*navbar*/
