<div class="container m-5 col-12">
            <table class="table">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Producto/s</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Total</th>
                  </tr>
              </thead>
              <tbody id="detalle"></tbody>
              <tfoot>
                  <tr id="footer">    
                  </tr>
              </tfoot>
          </table>

<template id="template-pedido">
    <tr>
        <th scope="row"> id</th>
        <td>producto</td>
        <td>precio</td>
        <td>cantidad</td>
        <td>$<span>Total</span></td>
        {{!-- <button  id="enviar" type="button" class="btn btn-dark ">Enviar Pedido</button> --}}
    </tr>
</template>

<template id="template-total">
    <th scope="row" colspan="2">Total Productos</th>
    <td></td>
    <td>cantidad</td>
    <td class="font-weight-bold">$<span>5000</span></td>
</template>

</div>

<script>
    const templatePedido = document.getElementById("template-pedido").content;
    const templateTotal = document.getElementById("template-total").content;
    const fragment = document.createDocumentFragment()
    const footer = document.getElementById("footer")
    const detalle = document.getElementById("detalle")
    let carrito = {}


if(localStorage.getItem("carrito")){
   carrito = JSON.parse(localStorage.getItem('carrito')) //traer info del carrito alojada en el localstorage
}

const pintarPedido = () => {
    detalle.innerHTML= "";
    Object.values(carrito).forEach(p => {  //object.values devuelve un array lo que era un objeto 
        templatePedido.querySelector("th").textContent = p.id
        templatePedido.querySelectorAll("td")[0].textContent = p.producto
        templatePedido.querySelectorAll("td")[1].textContent = p.valor
        templatePedido.querySelectorAll("td")[2].textContent = p.cantidad
        templatePedido.querySelectorAll("td")[3].textContent = `$${p.cantidad * p.valor}`
    
    const clone = templatePedido.cloneNode(true)
    fragment.appendChild(clone)
    })
    detalle.appendChild(fragment)

}

const pintarTotal = () => {
    footer.innerHTML = "";
    if(localStorage.getItem("carrito").length == 2 ){  //carrito es un objeto  si esta vacio {} length = 2
       footer.innerHTML = `
        <th scope="row" colspan="5"><h4>No tienes productos en tu carrito</h4></th>
        `
    }

    const nCantidad = Object.values(carrito).reduce((acc,{cantidad}) => acc + cantidad,0)
    const nValor = Object.values(carrito).reduce((acc,{cantidad, valor}) => acc + cantidad * valor,0)
    
    templateTotal.querySelectorAll("td")[1].textContent = nCantidad
    templateTotal.querySelector("span").textContent = nValor

    const clone = templateTotal.cloneNode(true)
    fragment.appendChild(clone)
    footer.append(fragment)

}



pintarPedido()
pintarTotal()




</script>