  body {
    background: #fcfbf8;
    color: #4a4a4a;
    text-shadow: 0px 0px 1px black;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
  }
  
 
  h2{
    color: #BB5365;
  }

  a {
    color: #ffffff;
  }
  

  nav{
        background-color: #BB5365;
        width: 100%;
}

footer{
  background-color: #BB5365;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%; 
}
