/* body {
    background: #fcfbf8;
    color: #4a4a4a;
    text-shadow: 0px 0px 1px black;
    font-family: sans-serif;
    text-align: center;
    padding: 40px 100px;
    
  }
  */
  body {
    background: #fcfbf8;
    color: #4a4a4a;
    text-shadow: 0px 0px 1px black;
    font-family: sans-serif;
    text-align: center;
    
  }
  
  h1{
      font-style: italic;
  }

  

  nav{
        background-color: #BB5365;
        width: 90%;

}


/* section{
  background-image: url("/img/img2.jpeg");
} */